body{
    margin:0 ;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #f32626;
    font-family: 'Roboto Slab', sans-serif;
}

.container{
    width: 100%;
    max-width: 50vw;
    padding: 0rem 0rem 5rem 0rem;
    background-color: white;
    margin: 1rem 20rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input{
    margin: 3rem 3rem;
    border: none;
    outline: none;
    border-bottom: 2px solid  #f32626;
    width: 30vw;
    font-size: 1rem;
    padding: 0.4rem 0.4rem;
}
button{
    width: 7rem;
    height: 2.7rem;
    color: white;
    border: none;
    outline: none;
    background-color: #f32626 ;
    border-radius: 4px;
    cursor: pointer;
}

.country-info{
    margin: -1rem 3rem;
}
.country{
    font-size: 2.9rem;
    font-weight: 700;
}

img{
    width: 14rem;
    height:8.5rem;
    margin: 0rem 8rem;
    border-radius: 10px;
}
.name{
    margin: 1rem 11rem;
    font-size: 2rem;
}
.info{
    display: flex;
    margin-top: 1rem;
}
.info div{
    margin-left: 1rem;
}

.country-info{
    display: none;
}
img{
    border: 1px solid black;
}